* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(to right, rgb(22, 22, 22) 50%,rgb(100, 100, 100) 50%);
    /*background: linear-gradient(to left, rgb(0, 0, 0), rgba(200, 234, 236, 1));*/
    /*background-image: url(wimg/f4fd3fed56b6b1afe58313869f2a8aab.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 880px;
    width: 1681px;

}

.mimg {
    display: flex;
    position: relative;
    top: 50%;
    align-items: flex-start;
    height: 880px;
    z-index: 1;
    transform: translateX(-30%);
    clip-path: inset(30% 35% 30% 35%);



}

.centerline {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: black;
    transform: translateX(-50%);
}

.menu,
li {
    color: rgb(255, 255, 255) ;
    display: flex;
    position: relative;
    justify-content: end;
    align-content: end;
    transform: translateY(-430px);
    gap: 30px;
    margin-top: 0%;
    margin-right: 20px;
    font-family: Fjalla One;
    font-weight: 800;
    font-size: 28px;
}